:root {
    background-color: #242424;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    display: block;
}

#navbar {
    position: sticky;
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    top: 0;
    justify-items: left;
    align-items: center;
    width: 100%;
}

#navbar li {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
}

#navbar li:hover {
    background-color: #111111;
}

#msgList{
    justify-items: end;
}